@font-face {
  font-family: "Poppins Medium";
  src: url(./assets/fonts/Poppins/Poppins-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins Light";
  src: url(./assets/fonts/Poppins/Poppins-Light.ttf) format("truetype");
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Poppins Medium";
  background-color: rgb(100, 148, 237);
}

.color-wrapper {
  width: 90%;
  background-color: rgba(235, 142, 142, 0.946);
}

.section-wrapper {
  min-width: 35%;
  margin: auto 0;
  /* border: 0.5px black solid; */
  border-radius: 5px;
}

.user-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: inherit;
}

input {
  outline-color: black;
  font-weight: 600;
  width: inherit;
  margin: 1rem 0 0 0;
  height: 2rem;
  border-radius: 5px;
  border: rgb(0, 0, 0) 1.9px solid;
}

::placeholder {
  color: black;
  font-family: "Poppins Light";
}

button {
  width: 50%;
  padding: 0.7rem;
  border: white 1px solid;
  border-radius: 5px;
  background-color: black;
  color: white;
  margin: 1rem 0;
  font-family: "Poppins Light";
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: white;
  font-family: "Poppins Medium";
  color: black;
  border: black 1.5px solid;
  transform: translateY(2px);
  transition-duration: 0.5ms;
}

h2 {
  text-transform: uppercase;
}

.weather-data-overview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather-info {
  display: flex;
  flex-direction: row;
}

.weather-info-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins Light";
}

dl {
  min-width: 90%;
  display: grid;
  grid-template-columns: auto 1fr;
}

dt {
  font-weight: bold;
  grid-column: 1;
  border: black 0.5px solid;
  border-right: none;
  border-bottom: none;
  padding: 10px;
}

dd {
  grid-column: 2;
  margin: 0;
  border: black 0.5px solid;
  border-left: none;
  border-bottom: none;
  display: flex;
  justify-content: right;
  padding-right: 10px;
  align-items: center;
}

dd:nth-child(16) {
  border-bottom: black 0.5px solid;
}

dt:nth-child(15) {
  border-bottom: black 0.5px solid;
}
